<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title | EBook</title>
    <link rel="canonical" href="https://getbootstrap.com/docs/5.0/examples/headers/">
    <link href="~/Images/LOGO.png" rel="icon">

    <!-- Google Web Fonts -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">

    <!-- Font Awesome -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css">

    <!-- Libraries Stylesheet -->
    <link href="~/Content/Css/carousel/css-carousel/owl.carousel.min.css" rel="stylesheet">

    <!-- Customized Bootstrap Stylesheet -->
    <link href="~/Content/Css/style.min.css" rel="stylesheet">
    <link href="~/Content/Css/Home.css" rel="stylesheet">

</head>
<body>


    <style>
        .dropdown:hover .dropdown-menu {
            display: block;
            margin-top: 0;
        }

        .dropdown-menu li a {
            color: #424242;
            text-decoration: none;
        }

        a button {
            border: none;
            background-color: #D19C97;
        }
        a button:hover {
            color: #FFFFFF;
        }
    </style>
    <!-- Topbar Start -->
    <div class="container-fluid">
        <div class="row align-items-center py-3 px-xl-5">
            <div class="col-lg-3 d-none d-lg-block">
                <a href="/Home/Index" class="text-decoration-none">
                    <h1 class="m-0 display-5 font-weight-semi-bold"><span class="text-primary font-weight-bold border px-3 mr-1">E</span>Book</h1>
                </a>
            </div>
            <div class="col-lg-6 col-6 text-left">
                <form action="">
                    <div class="input-group">
                        <input type="text" class="form-control" placeholder="Tìm kiếm...">
                        <div class="input-group-append">
                            <span class="input-group-text bg-transparent text-primary">
                                <i class="fa fa-search"></i>
                            </span>
                        </div>
                    </div>
                </form>
            </div>
            <div class="col-lg-3 col-6 text-right">
                @*icon giỏ hàng*@
                <a href="/Cart/ShoppingCart" class="btn border">
                    <i class="fas fa-shopping-cart text-primary"></i>
                    @*Số lượng sản phẩm trong giỏ hàng*@
                    <span class="badge">0</span>
                </a>
            </div>

        </div>
    </div>
    <!-- Topbar End -->
    <!-- Danh sách sản phẩm Start -->
    <div class="container-fluid mb-5">
        <div class="row border-top px-xl-5">
            <div class="col-lg-3 d-none d-lg-block">
                <a class="btn shadow-none d-flex align-items-center justify-content-between bg-primary text-white w-100" data-toggle="collapse" href="#navbar-vertical" style="height: 65px; margin-top: -1px; padding: 0 30px;">
                    @*Danh mục sản phẩm*@
                    <h6 class="m-0">Danh mục sản phẩm</h6>
                    <i class="fa fa-angle-down text-dark"></i>
                </a>
                <nav class="collapse show navbar navbar-vertical navbar-light align-items-start p-0 border border-top-0 border-bottom-0" id="navbar-vertical">
                    <div class="navbar-nav w-100 overflow-hidden" style="height: 410px">
                        <a href="" class="nav-item nav-link">Khoa học thiên văn</a>
                        <a href="" class="nav-item nav-link">Văn học</a>
                        <a href="" class="nav-item nav-link">Kinh tế</a>
                        <a href="" class="nav-item nav-link">Tâm lí - kĩ năng sống</a>
                        <a href="" class="nav-item nav-link">Sách thiếu nhi</a>
                        <a href="" class="nav-item nav-link">Tiểu sử hồi ký</a>
                        <a href="" class="nav-item nav-link">Sách giáo khoa</a>
                        <a href="" class="nav-item nav-link">Ngoại ngữ</a>
                        <a href="" class="nav-item nav-link">Sách tham khảo</a>
                        <a href="" class="nav-item nav-link">Luyện thi</a>
                    </div>
                </nav>
            </div>

            @*Slide*@
            <div class="col-lg-9">
                <nav class="navbar navbar-expand-lg bg-light navbar-light py-3 py-lg-0 px-0">
                    <a href="" class="text-decoration-none d-block d-lg-none">
                        <h1 class="m-0 display-5 font-weight-semi-bold"><span class="text-primary font-weight-bold border px-3 mr-1">E</span>Book</h1>
                    </a>
                    <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse justify-content-between" id="navbarCollapse">
                        <div class="navbar-nav mr-auto py-0">
                            <a href="/Home/Index" class="nav-item nav-link active">Trang chủ</a>
                            @*Danh sách sản phẩm*@
                            <a href="/Product/Shop" class="nav-item nav-link">Shop</a>

                            <div class="nav-item dropdown">
                                <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown">Tiện ích</a>
                                <div class="dropdown-menu rounded-0 m-0">
                                    @*Trang giỏ hàng*@
                                    <a href="/Cart/ShoppingCart" class="dropdown-item">Giỏ hàng</a>
                                    @*Trang Thanh toán*@
                                    <a href="/Cart/ThanhToan" class="dropdown-item">Thanh toán</a>
                                </div>
                            </div>
                            <a href="/Home/Contact" class="nav-item nav-link">Liên hệ</a>
                        </div>

                        @*Login Register*@
                        @*<div class="navbar-nav ml-auto py-0">
                        <a href="/Home/Login" class="nav-item nav-link">Đăng nhập</a>
                        <a href="/Home/Register" class="nav-item nav-link">Đăng ký</a>
                        </div>*@
                        <div class="nav-item dropdown">
                            @{LTWNC.Models.KHACHHANG acc = Session["TaiKhoan"] as LTWNC.Models.KHACHHANG; }

                            @if (Session["TaiKhoan"] == null || acc.IDKH == 0)
                            {
                                <a href="/Home/Login"><button style=""> Đăng Nhập </button></a>
                            }
                            else
                            {
                                LTWNC.Models.KHACHHANG taikhoan = Session["TaiKhoan"] as LTWNC.Models.KHACHHANG;

                                <a class="nav-link  dropdown-toggle" href="#">
                                    <i class="fa-solid fa-user"></i> @taikhoan.HOTENKH
                                </a>
                                <ul class="dropdown-menu">
                                    <li class="dropdown-item"><span style="color:black;">@Html.ActionLink("Tài khoản của tôi", "Edit", "Profile")</span></li>
                                    <li class="dropdown-item">@Html.ActionLink("Đăng xuất", "Logout", "Home")</li>
                                </ul>
                            }

                        </div>

                    </div>
                </nav>

                <div id="header-carousel" class="carousel slide" data-ride="carousel">
                    <div class="carousel-inner">
                        <div class="carousel-item active" style="height: 410px;">
                            <img class="img-fluid" src="~/Images/Banner_KM_Thang_4_890x396px-01.jpg" alt="Image">
                        </div>
                        <div class="carousel-item" style="height: 410px;">
                            <img class="img-fluid" src="~/Images/Banner_Sach_NV_Free_gift_890x396px-01__2_.jpg" alt="Image">
                        </div>
                        <div class="carousel-item" style="height: 410px;">
                            <img class="img-fluid" src="~/Images/Banner_10_nam_Pham_Duy_890x396px.jpg" alt="Image">
                        </div>
                    </div>
                    <a class="carousel-control-prev" href="#header-carousel" data-slide="prev">
                        <div class="btn btn-dark" style="width: 45px; height: 45px;">
                            <span class="carousel-control-prev-icon mb-n2"></span>
                        </div>
                    </a>
                    <a class="carousel-control-next" href="#header-carousel" data-slide="next">
                        <div class="btn btn-dark" style="width: 45px; height: 45px;">
                            <span class="carousel-control-next-icon mb-n2"></span>
                        </div>
                    </a>
                </div>

            </div>

        </div>
    </div>
    <!-- Danh sách sản phẩm End -->




    <div>
        @RenderBody()
    </div>

    <!-- Footer Start -->
    <div class="container-fluid bg-secondary text-dark mt-5 pt-5">
        <div class="row px-xl-5 pt-5">
            <div class="col-lg-4 col-md-12 mb-5 pr-3 pr-xl-5">
                <a href="" class="text-decoration-none">
                    <h1 class="mb-4 display-5 font-weight-semi-bold"><span class="text-primary font-weight-bold border border-white px-3 mr-1">E</span>Book</h1>
                </a>
                <p>Sứ mệnh của Công ty EBook: “MANG TRI THỨC ĐẾN VỚI MỌI NHÀ”!</p>
                <p class="mb-2"><i class="fa fa-map-marker-alt text-primary mr-3"></i>828 Sư Vạn Hạnh, P13, Q10, TPHCM, Việt Nam</p>
                <p class="mb-2"><i class="fa fa-envelope text-primary mr-3"></i>ebook@contact.com</p>
                <p class="mb-0"><i class="fa fa-phone-alt text-primary mr-3"></i>012 345 6789</p>
            </div>
            <div class="col-lg-8 col-md-12">
                <div class="row">
                    <div class="col-md-4 mb-5">
                        <h5 class="font-weight-bold text-dark mb-4">Quick Links</h5>
                        <div class="d-flex flex-column justify-content-start">
                            <a class="text-dark mb-2" href="/Home/Index"><i class="fa fa-angle-right mr-2"></i>Trang chủ</a>
                            <a class="text-dark mb-2" href="/Cart/ShoppingCart"><i class="fa fa-angle-right mr-2"></i>Giỏ hàng</a>
                            <a class="text-dark mb-2" href="/Cart/ThanhToan"><i class="fa fa-angle-right mr-2"></i>Thanh toán</a>
                            <a class="text-dark" href="/Home/Contact"><i class="fa fa-angle-right mr-2"></i>Liên hệ</a>
                        </div>
                    </div>
                    <div class="col-md-4 mb-5">
                        <h5 class="font-weight-bold text-dark mb-4">Danh mục sản phẩm</h5>
                        <div class="d-flex flex-column justify-content-start">
                            <a class="text-dark mb-2" href="#"><i class="fa fa-angle-right mr-2"></i>Khoa học thiên văn</a>
                            <a class="text-dark mb-2" href="#"><i class="fa fa-angle-right mr-2"></i>Văn học</a>
                            <a class="text-dark mb-2" href="#"><i class="fa fa-angle-right mr-2"></i>Kinh tế</a>
                            <a class="text-dark mb-2" href="#"><i class="fa fa-angle-right mr-2"></i>Tâm lí - kĩ năng sống</a>
                            <a class="text-dark mb-2" href="#"><i class="fa fa-angle-right mr-2"></i>Sách thiếu nhi</a>
                            <a class="text-dark mb-2" href="#"><i class="fa fa-angle-right mr-2"></i>Tiểu sử hồi ký</a>
                            <a class="text-dark mb-2" href="#"><i class="fa fa-angle-right mr-2"></i>Sách giáo khoa</a>
                            <a class="text-dark mb-2" href="#"><i class="fa fa-angle-right mr-2"></i>Ngoại ngữ</a>
                            <a class="text-dark mb-2" href="#"><i class="fa fa-angle-right mr-2"></i>Sách tham khảo</a>
                            <a class="text-dark mb-2" href="#"><i class="fa fa-angle-right mr-2"></i>Luyện thi</a>
                        </div>
                    </div>
                    <div class="col-md-4 mb-5">
                        <h5 class="font-weight-bold text-dark mb-4">Đăng ký nhận tin mới</h5>
                        <form action="">
                            <div class="form-group">
                                <input type="text" class="form-control border-0 py-4" placeholder="Họ và tên" name="" required="required" />
                            </div>
                            <div class="form-group">
                                <input type="email" class="form-control border-0 py-4" placeholder="Email"
                                       required="required" />
                            </div>
                            <div>
                                <button class="btn btn-primary btn-block border-0 py-3" type="submit">Đăng ký ngay</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div class="row border-top border-light mx-xl-5 py-4">
            <div class="col-md-6 px-xl-0">
                <p class="mb-md-0 text-center text-md-left text-dark">
                    &copy; <a class="text-dark font-weight-semi-bold" href="#">EBook</a>. All Rights Reserved. Designed
                    by
                    <a class="text-dark font-weight-semi-bold" href="https://htmlcodex.com">Nhóm 5 Lập trình web nâng cao</a><br>
                </p>
            </div>
            <div class="col-md-6 px-xl-0 text-center text-md-right">
                <img class="img-fluid" src="img/payments.png" alt="">
            </div>
        </div>
    </div>
    <!-- Footer End -->
    <!-- Back to Top -->
    <a href="#" class="btn btn-primary back-to-top"><i class="fa fa-angle-double-up"></i></a>

    <!--Start of Tawk.to Script-->
    <script type="text/javascript">
        var Tawk_API = Tawk_API || {}, Tawk_LoadStart = new Date();
        (function () {
            var s1 = document.createElement("script"), s0 = document.getElementsByTagName("script")[0];
            s1.async = true;
            s1.src = 'https://embed.tawk.to/6431934331ebfa0fe7f73554/1gtgqegah';
            s1.charset = 'UTF-8';
            s1.setAttribute('crossorigin', '*');
            s0.parentNode.insertBefore(s1, s0);
        })();
    </script>
    <!--End of Tawk.to Script-->
    @*footer*@
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.bundle.min.js"></script>
    <script src="~/Scripts/JavaScript/easing/easing.min.js"></script>
    <script src="~/Scripts/JavaScript/owlcarousel/owl.carousel.min.js"></script>

    <!-- Contact Javascript File -->
    @*<script src="mail/jqBootstrapValidation.min.js"></script>
        <script src="mail/contact.js"></script>*@

    <!-- Template Javascript -->
    <script src="~/Scripts/JavaScript//Home.js"></script>
</body>
</html>
