@using LTWNC.Models;
@model IEnumerable<LTWNC.Models.KHACHHANG>

@{ ViewBag.Title = "Quản Lý Khách hàng";
                ViewBag.Current = "QuanLyKhachHang";
                Layout = "~/Views/Shared/_LayoutManagement.cshtml";
                TAIKHOAN user = Session["User"] as TAIKHOAN; }
<link href="https://cdn.datatables.net/1.13.3/css/dataTables.bootstrap5.min.css" rel="stylesheet" />
<script src="https://code.jquery.com/jquery-3.5.1.js"></script>
<script src="~/Scripts/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/1.13.3/js/dataTables.bootstrap5.min.js"></script>

<p class="btn btn-success">
    @Html.ActionLink("Thêm khách hàng", "Create", "KHACHHANG")
</p>

<style>
    .product-meta {
        max-width: 150px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }

        .product-meta:hover {
            width: 300px;
            white-space: normal;
            overflow: hidden;
            cursor: pointer;
        }
</style>

<div class="box-section-content">
    <table id="example" class="table table-striped" style="width:100%;">
        <thead>
            <tr>
                <th>
                    ID
                </th>
                <th>
                    ID khách hàng
                </th>
                <th>
                    Họ tên khách hàng
                </th>
                <th>
                    Email
                </th>
                <th>
                    SDT
                </th>
                <th>
                    Địa chỉ
                </th>
                <th>
                    Avatar
                </th>
                <th>
                    ID Loại khách hàng
                </th>
                <th>
                    Khuyến mãi
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.IDKH)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.MAKH)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.HOTENKH)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.EMAIL)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.SDT)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DIACHI)
                </td>
                <td>
                    @if (item.AVATARKH != null)
                    {
            <img src="@Url.Content(item.AVATARKH)" alt="@Html.DisplayFor(modelItem => item.AVATARKH)" height="50" width="50" /> }
        else
        {
            <img src="~/Content/Images/No_Image_Available.jpg" alt="@Html.DisplayFor(modelItem => item.AVATARKH)" height="50" width="50" />}
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.IDLKH)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.KHUYENMAI.TENKM)
                </td>
                <td style="text-align: center;">
                    <span class="btn btn-warning">
                        <a href="@Url.Action("Edit", "KHACHHANG", new { id = item.IDKH})" class="">
                            <i class="fa-solid fa-pen-to-square"></i>
                        </a>
                    </span>

                    <span class="btn btn-primary">
                        <a href="@Url.Action("Details", "KHACHHANG", new { id = item.IDKH})" class="">
                            <i class="fa-solid fa-circle-info"></i>
                        </a>
                    </span>

                    <span class="btn btn-danger">
                        <a href="@Url.Action("Delete", "KHACHHANG", new { id = item.IDKH})" class="">
                            <i class="fa-solid fa-trash"></i>
                        </a>
                    </span>
                </td>
            </tr>            }
        </tbody>
        <tfoot>
            <tr>
                <th>
                    ID
                </th>
                <th>
                    ID khách hàng
                </th>
                <th>
                    Họ tên khách hàng
                </th>
                <th>
                    Email
                </th>
                <th>
                    SDT
                </th>
                <th>
                    Địa chỉ
                </th>
                <th>
                    Avatar
                </th>
                <th>
                    ID Loại khách hàng
                </th>
                <th>
                    Khuyến mãi
                </th>
                <th></th>
            </tr>
        </tfoot>
    </table>
</div>

<script>$(document).ready(function () {
        $('#example').DataTable();
    });</script>



