@model LTWNC.Models.SANPHAM

@{
    ViewBag.Title = @Html.DisplayFor(model => model.TENSP);
    Layout = "~/Views/Shared/_LayoutHomePage.cshtml";
}

<link rel="stylesheet" href="~/Content/css/productDetail.css" />
<link rel="stylesheet" href="~/Content/Css/style.min.css">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/themify-icons/0.1.2/css/themify-icons.css">
<link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
<style>
    a {
        color: white;
        text-decoration: none;
    }

    .chitiet a {
        color: var(--bs-link-color);
        font-size: 17px;
    }
</style>




<div class="text-center mb-4">
    <h2 class="section-title px-5"><span class="px-2">Chi tiết sản phẩm</span></h2>
</div>
<div class="row sale">
    <div class="col-5" style="padding:15px;">
        <img src="@Url.Content(Model.HINHSP)" style="width:400px; height:400px" />
    </div>
    <div class="col-7 dobong" style="padding:15px;">
        <h2 style="font-weight:700;"> @Html.DisplayFor(model => model.TENSP)</h2>
        <div class="star">
            <span class="sao" style="color:#ffcd00;">5.0</span>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <span>/ 50 sản phẩm đã bán</span>
        </div>
        <div class="price">
            <span class="gia">@Convert.ToDecimal(Model.DONGIA).ToString("N0")đ</span> <br/>
            <div class="row">
                <div class="col-1"><img src="~/Content/Images/LOGO.png" style="width:70px; height:50px" /></div>
                <div class="col-11" style="padding-left:30px">
                    <span class="re">Gì cũng rẽ </span><i class="ti-help-alt"></i> </br>
                    <span style="font-size:14px;">Giá tốt nhất trên thị trường hiện tại</span>
                </div>
            </div>
        </div>

        <div class="luachon row" style="margin-top:20px;">
            <div class="col-2 sp">Còn hàng:</div>
            <div class="col-10">
                @Html.DisplayFor(model => model.SOLUONG)
            </div>
        </div>

        <div class="luachon row" style="margin-top:20px;">
            <div class="col-2 sp">Số lượng:</div>
            <div class="col-10">
                <div class="wrapper">
                    <span class="minus">-</span>
                    <span class="num">01</span>
                    <span class="plus">+</span>
                </div>
            </div>
        </div>
        <div class="mua">
            
            <a href="@Url.Action("AddToCart", "Cart", new {id = Model.IDSP })" style="margin-left:5px"><button class="registration" style="padding:0px;">Thêm vào giỏ hàng</button></a>
            <a href="@Url.Action("AddToCart", "Cart", new {id = Model.IDSP })" style="margin-left:5px"><button class="registration" style="padding:0px;">Đặt hàng</button></a>
        </div>
    </div>
</div>

<div class="cuahang dobong row" style="margin:40px 100px">
    <div class="col-3">
        <div class="row">
            <div class="col-2">
                <img src="~/Content/Images/LOGO.png" width="100px" height="100px" />
            </div>
            <div class="col-10" style="padding-left:60px;">
                <div style="font-size:20px; color: red;font-weight:600;">EBook</div>
                <div style="font-size:15px; color: rgba(0,0,0,.54);margin-top:-9px; margin-bottom:10px">Online</div>
                <a href="/Home/Contact"><button class="chat" id="shop" style="border-radius:4px; padding:6px;"><i class="ti-comment-alt"></i> Liên hệ</button></a>
            </div>
        </div>
    </div>
    <div class="col-3">
        <div class="row">
            <div class="col-6 dg">Đánh giá</div>
            <div class="col-6 sluong">259</div>
        </div>
        <div class="row">
            <div class="col-6 dg">Sản phẩm</div>
            <div class="col-6 sluong">@Html.DisplayFor(model => model.SOLUONG)</div>
        </div>
    </div>
    <div class="col-3">
        <div class="row">
            <div class=" col-6 dg">Tỉ lệ phẩn hồi</div>
            <div class=" col-6 sluong">90%</div>
        </div>
        <div class="row">
            <div class="col-6 dg">Thời gian phản hồi</div>
            <div class="col-6 sluong">Trong vài giờ</div>
        </div>
    </div>
    <div class="col-3">
        <div class="row">
            <div class="col-6 dg">Tham gia</div>
            <div class="col-6 sluong">2 ngày trước</div>
        </div>
        <div class="row">
            <div class="col-6 dg">Người theo dõi</div>
            <div class="col-6 sluong">20k</div>
        </div>
    </div>
</div>


<div class="row" style="margin:20px 100px">
    <div class="col-9 info" style="padding-left:0">
        <div class="baohanh">
            <div class="row">
                <div class="col-6">
                    <div class="row">
                        <div class="col-1">
                            <i class='bx bx-refresh' style="font-size: 42px; color: #D7202C;"></i>
                        </div>
                        <div class="col-11" style="padding: 0 20px">
                            1 đổi 1 trong 30 ngày đối với sản phẩm lỗi tại các cửa hàng trên toàn quốc
                        </div>
                    </div>
                </div>
                <div class="col-6">
                    <div class="row">
                        <div class="col-1">
                            <i class='bx bxs-check-shield' style="font-size: 42px; color: #0D8DFF; "></i>
                        </div>
                        <div class="col-11" style="padding: 0 20px">
                            Bảo hành 1 đổi 1 năm tại các cửa hàng trên toàn quốc
                        </div>
                    </div>
                </div>
            </div>
            <div class="row" style="margin-bottom:20px;margin-top:20px">
                <div class="col-6">
                    <div class="row">
                        <div class="col-1">
                            <i class='bx bx-package' style="font-size: 42px; color: #A4907C; "></i>
                        </div>
                        <div class="col-11" style="padding: 0 20px">
                            Bộ sản phẩm gồm: @Html.DisplayFor(model => model.TENSP)
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="chitiet">
            <h2>Chi tiết sản phẩm</h2>
            <div class="row">
                <div class="nd col-2" style="padding-left:25px">Danh mục</div>
                <div class="ht  col-9">@Html.DisplayFor(model => model.IDDANHMUC)</div>
            </div>
            <div class="row">
                <div class="nd col-2" style="padding-left:25px">Loại bảo hành</div>
                <div class="ht  col-9">Bảo hành nhà sản xuất</div>
            </div>
            <div class="row">
                <div class="nd col-2" style="padding-left:25px">Hạn bảo hành</div>
                <div class="ht  col-9">12 tháng</div>
            </div>
            <div class="row">
                <div class="nd col-2" style="padding-left:25px">Tình trạng</div>
                <div class="ht  col-9">Mới</div>
            </div>
            <div class="row">
                <div class="nd col-2" style="padding-left:25px">Gửi từ</div>
                <div class="ht  col-9">10 QL22, Tân Xuân, Hóc Môn, Thành phố Hồ Chí Minh, Việt Nam</div>
            </div>
            <h2>Mô tả sản phẩm</h2>
            <span style="padding-left:10px; text-align:justify;">@Html.DisplayFor(model => model.MOTA)</span>
        </div>
    </div>
    <div class="col-3">
        @Html.Action("SanPhamCungLoai", "Product", new { id = Model.IDDANHMUC })
    </div>
</div>

<div style="margin-left:100px;margin-right:100px; margin-bottom:100px;">
    @Html.Action("SanPhamCoTheThich", "Product")
</div>

<script>
    var i;
    var container = document.getElementById("btnContainer");
    var btns = container.getElementsByClassName("btn");
    for (var i = 0; i < btns.length; i++) {
        btns[i].addEventListener("click", function () {
            var current = document.getElementsByClassName("active1");
            current[0].className = current[0].className.replace(" active1", "");
            this.className += " active1";
        });
    }
</script>
<script>
    const plus = document.querySelector(".plus"),
        minus = document.querySelector(".minus"),
        num = document.querySelector(".num");
    let a = 1;

    plus.addEventListener("click", () => {
        a++;
        a = (a < 10) ? "0" + a : a;
        num.innerText = a;
        console.log(a);
    })
    minus.addEventListener("click", () => {
        if (a > 1) {
            a--;
            a = (a < 10) ? "0" + a : a;
            num.innerText = a;
        }
    })
</script>