@model  IEnumerable<LTWNC.Models.CTDH>
@{
    int w = 0;
}
<style>
    .feedback {
        margin-top: 2px;
        margin-left: 4px;
        padding: 7px;
        border-radius: 8px;
        background: #ffc107;
        border: none;
        color: white;
        height: 41px;
        font-size: 18px;
    }

        .btn:hover, .feedback:hover {
            color: white;
            background-color: rgb(0, 132, 255);
            box-shadow: 0 .5rem 1rem rgba(0,0,0,.15) !important;
        }

        .feedback:hover {
            background: #c49a1e;
        }
</style>
@{
    int i = 0, j = 0, q = 0;
}

<tr>
    <td style="display:table-cell; vertical-align:middle; ">
        @foreach (var item in Model)
        {
            @item.IDDH
            break;
        }
    </td>
    <td>
        @foreach (var item in Model)
        {
            @Html.Action("InfoSPFeeback", "Product", new { id = item.IDSP })
        }

    </td>

    <td style="display:table-cell; vertical-align:middle;">
        @foreach (var item in Model)
        {
            if (i == 0)
            {
                <div>@item.SOLUONG</div>
            }
            else
            {
                <div style="margin-top:115px;">@item.SOLUONG</div>
            }
            i++;
        }
    </td>
    <td style="display:table-cell; vertical-align:middle; ">
        @foreach (var item in Model)
        {
            if (j == 0)
            {
                <div>@Convert.ToDecimal(item.THANHTIEN).ToString("N0")đ</div>
            }
            else
            {
                <div style="margin-top:115px;">@Convert.ToDecimal(item.THANHTIEN).ToString("N0")đ</div>
            }
            j++;
        }

    </td>
    <td>

        @foreach (var item in Model)
        {
            if (w == 0)
            {
                <div style="margin-top:52px;">
                    <span class="btn btn-primary">
                        <a href="@Url.Action("ProductDetai", "Product", new { id = item.IDSP })" class="">
                            <i class="fa-solid fa-pen-to-square"></i>
                            Mua lại
                        </a>
                    </span>
                    <span class="btn btn-warning">
                        <a href="@Url.Action("ChitietDonHang", "Profile", new { id = item.IDDH ,idsp = item.IDSP})" class="">
                            <i class='bx bx-comment-detail'></i>
                            Đánh giá
                        </a>

                    </span>
                </div>
            }
            else
            {

                <div style="margin-top:98px;">
                    <span class="btn btn-primary">
                        <a href="@Url.Action("ProductDetai", "Product", new { id = item.IDSP })" class="">
                            <i class="fa-solid fa-pen-to-square"></i>
                            Mua lại
                        </a>
                    </span>
                    <span class="btn btn-warning">
                        <a href="@Url.Action("HienDHFeedback", "Profile", new { id = item.IDDH, idsp = item.IDSP })" class="">
                            <i class='bx bx-comment-detail'></i>
                            Đánh giá
                        </a>

                    </span>
                </div>
            }
            w++;
        }

    </td>
</tr>

