
@model  IEnumerable<LTWNC.Models.CTDH>
<style>
</style>
@{
    int i = 0, j = 0, q = 0;
}

<tr>
    <td style="display:table-cell; vertical-align:middle; ">
        @foreach (var item in Model)
        {
            @item.IDDH
            break;
        }
    </td>
    <td>
        @foreach (var item in Model)
        {
            @Html.Action("InfoSPFeeback", "Product", new { id = item.IDSP })
        }

    </td>

    <td style="display:table-cell; vertical-align:middle;">
        @foreach (var item in Model)
        {
            if (i == 0)
            {
                <div>@item.SOLUONG</div>
            }
            else
            {
                <div style="margin-top:115px;">@item.SOLUONG</div>
            }
            i++;
        }
    </td>
    <td style="display:table-cell; vertical-align:middle;">
        @foreach (var item in Model)
        {
            if (j == 0)
            {
                <div>@Convert.ToDecimal(item.THANHTIEN).ToString("N0")đ</div>
            }
            else
            {
                <div style="margin-top:115px;">@Convert.ToDecimal(item.THANHTIEN).ToString("N0")đ</div>
            }
            j++;
        }

    </td>
    <td style="display:table-cell; vertical-align:middle;">

        @foreach (var item in Model)
        {

            <span class="btn btn-danger">
                <a href="@Url.Action("CancelOrder", "Profile", new { id = item.IDDH})" class="">
                    <i class='bx bx-message-square-x'></i>
                    Hủy đơn
                </a>

            </span>
            break;
        }

    </td>
</tr>

