@using LTWNC.Models;
@model List<CartItem>
@{
    ViewBag.Title = "EBook - Giỏ hàng";
    Layout = "~/Views/Shared/_LayoutBase.cshtml";
}

<!-- Cart Start -->
<div class="container-fluid">
    <div class="row px-xl-5">
        <div class="col-lg-8 table-responsive mb-5">
            <table class="table table-bordered text-center mb-0">
                <thead class="bg-secondary text-dark">
                    <tr>
                        <th>Tên sách</th>
                        <th>Giá</th>
                        <th>Số lượng</th>
                        <th>Tổng</th>
                        <th>Xóa</th>
                    </tr>
                </thead>
                <tbody class="align-middle">
                    <tr>
                        @if (Convert.ToInt32(ViewBag.TotalNumber) >= 1)
                        {
                            foreach (var product in Model)
                            {
                                @*Tên sách*@
                                <td class="align-middle">
                                    <a href="@Url.Action("ProductDetai", "Product", new {id = product.IDSP})">
                                        <img src="@Url.Content(product.HINHANHSP)" height="100" width="100" class="p-2" />
                                        @product.TENSP
                                    </a>
                                </td>
                                @*Giá tiền*@
                                <td class="align-middle">@Convert.ToDecimal(product.DONGIA).ToString("N0")đ</td>
                                <td class="align-middle">
                                    @using (Html.BeginForm("UpdateCartItem", "Cart", new { id = product.IDSP }))
                                    {
                                        @*Số lượng*@
                                        <div class="input-group quantity mx-auto" style="width: 100px;">
                                            <div class="input-group-btn">
                                                <button class="btn btn-sm btn-primary btn-minus">
                                                    <i class="fa fa-minus"></i>
                                                </button>
                                            </div>
                                            <input type="text" class="form-control form-control-sm bg-secondary text-center" name="Number" value="@product.SOLUONG">
                                            <div class="input-group-btn">
                                                <button class="btn btn-sm btn-primary btn-plus">
                                                    <i class="fa fa-plus"></i>
                                                </button>
                                            </div>
                                        </div>
                                        @*<button type="submit" class="btn btn-primary"><i class="fa-solid fa-rotate-right"></i></button>*@
                                    }
                                </td>
                                @*Giá tiền đã cộng với số lượng*@
                                <td class="align-middle">@Convert.ToDecimal(product.THANHTIEN()).ToString("N0")đ</td>
                                @*Nút xóa sản phẩm*@
                                <td class="align-middle">
                                    <a href="@Url.Action("DeleteCartItem", "Cart", new { id = product.IDSP })" class="btn btn-sm btn-primary">
                                        <i class="fa fa-times"></i>
                                    </a>
                                </td>
                            }
                        }
                        else
                        {
                            <td style="text-align: center" colspan="5">
                                <p style="padding: 10px; color: red; font-size: 18px;">
                                    @if (ViewBag.ThongBaoCartNull != null)
                                    {@ViewBag.ThongBaoCartNull}
                                </p>
                                @Html.Action("CartNull", "Cart")
                            </td>
                        }
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="col-lg-4">
            <form class="mb-5" action="">
                <div class="input-group">
                    @*Thêm voucher*@
                    <input type="text" class="form-control p-4" placeholder="Mã giảm giá">
                    <div class="input-group-append">
                        <button class="btn btn-primary">Thêm Voucher</button>
                    </div>
                </div>
            </form>
            <div class="card border-secondary mb-5">
                <div class="card-header bg-secondary border-0">
                    <h4 class="font-weight-semi-bold m-0">Tổng tiền</h4>
                </div>
                <div class="card-body">
                    <div class="d-flex justify-content-between mb-3 pt-1">
                        @*Tiền sách tổng*@
                        <h6 class="font-weight-medium">Tiền sách</h6>
                        <h6 class="font-weight-medium">@Convert.ToDecimal(ViewBag.TotalPrice).ToString("N0")đ</h6>
                    </div>
                </div>
                <div class="card-footer border-secondary bg-transparent">
                    <div class="d-flex justify-content-between mt-2">
                        @*Tổng tiền tất cả*@
                        <h5 class="font-weight-bold">Tổng cộng</h5>
                        <h5 class="font-weight-bold">@Convert.ToDecimal(ViewBag.TotalPrice).ToString("N0")đ</h5>
                    </div>
                    @*Bấm thanh toán chuyển sang trang Thanh Toán*@
                    @Html.ActionLink("Tiến hành thanh toán", "ConfirmCart", null, new { @class = "btn btn-block btn-primary my-3 py-3" })
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Cart End -->
