@model LTWNC.Models.KHUYENMAI

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_LayoutManagement.cshtml";
}

<link href="~/Content/management-form.css" rel="stylesheet" />
<script src="~/Scripts/main.js" language="JavaScript" type="text/javascript"></script>

<div class="box-form">
    <div class="form-horizontal">
        <h4 class="title-form">XOÁ KHUYẾN MÃI - @Model.TENKM</h4>
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        <div class="form-group row p-0">
            <span class="col label-name">ID Khuyến Mãi</span>
            <p class="delete-form col-10 m-0">
                @Html.DisplayFor(model => model.IDKM)
            </p>
        </div>

        <div class="form-group row p-0">
            <span class="col label-name">Tên Khuyến Mãi</span>
            <p class="delete-form col-10 m-0">
                @Html.DisplayFor(model => model.TENKM)
            </p>
        </div>

        <div class="form-group row p-0">
            <span class="col label-name">Giá Trị</span>
            <p class="delete-form col-10 m-0">
                @Html.DisplayFor(model => model.GIATRI)
            </p>
        </div>

        <div class="form-group row p-0">
            <span class="col label-name">Ngày Tạo</span>
            <p class="delete-form col-10 m-0">
                @Html.DisplayFor(model => model.NGAYTAO)
            </p>
        </div>

        <div class="form-group row p-0">
            <span class="col label-name">Ngày Hết</span>
            <p class="delete-form col-10 m-0">
                @Html.DisplayFor(model => model.NGAYHET)
            </p>
        </div>

        <div class="d-flex justify-content-center form-btn">
            <input id="btn-delete" value="Xoá" class="btn btn-danger" style="width: 100%" />
        </div>
    </div>
</div>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div style="background: #000">
        <div class="box-confirm box-shadow shadow">
            <h4>Bạn Có Chắc Chắn Xoá?</h4>
            <hr />
            <h3 style="color: red;">@Model.TENKM</h3>
            <div class="row mt-4">
                <input type="submit" value="Xác Nhận Xoá" class="btn btn-danger col-10" style="width: 80%" />
                <input value="Huỷ" id="btn-cancel" class="btn btn-default col" style="width: 20%" />
            </div>
        </div>
    </div>
}

@Html.ActionLink("Trở Lại", "QuanlyKhuyenMai", "Management")

<script>
    var btnDelete = document.querySelector('#btn-delete');
    var modelBox = document.querySelector('.box-confirm');
    var btnCancel = document.querySelector('#btn-cancel');


    btnDelete.onclick = function () {
        modelBox.style.display = "block";
    }

    btnCancel.onclick = function () {
        modelBox.style.display = "none";
    }

</script>

